[submodule "__/github.com/banyan/chef-rails-dev-box"]
	path = __/github.com/banyan/chef-rails-dev-box
	url = https://github.com/banyan/chef-rails-dev-box.git
[submodule "__/github.com/samuell/devbox-golang"]
	path = __/github.com/samuell/devbox-golang
	url = https://github.com/samuell/devbox-golang.git
[submodule "__/github.com/samuell/devbox-python"]
	path = __/github.com/samuell/devbox-python
	url = https://github.com/samuell/devbox-python.git
[submodule "__/github.com/akalyaev/rails-app-dev-boxes"]
	path = __/github.com/akalyaev/rails-app-dev-boxes
	url = https://github.com/akalyaev/rails-app-dev-boxes.git
[submodule "__/github.com/bobpace/devbox"]
	path = __/github.com/bobpace/devbox
	url = https://github.com/bobpace/devbox.git
[submodule "__/github.com/alabeduarte/vagrant-devbox-nodejs"]
	path = __/github.com/alabeduarte/vagrant-devbox-nodejs
	url = https://github.com/alabeduarte/vagrant-devbox-nodejs.git
[submodule "__/github.com/boycott/devbox"]
	path = __/github.com/boycott/devbox
	url = https://github.com/boycott/devbox.git
[submodule "__/github.com/mtti/devbox-node"]
	path = __/github.com/mtti/devbox-node
	url = https://github.com/mtti/devbox-node.git
[submodule "__/github.com/czerasz/nodejs-devbox"]
	path = __/github.com/czerasz/nodejs-devbox
	url = https://github.com/czerasz/nodejs-devbox.git
[submodule "__/github.com/snooc/packer-node-devbox"]
	path = __/github.com/snooc/packer-node-devbox
	url = https://github.com/snooc/packer-node-devbox.git
[submodule "__/github.com/batdevis/devbox"]
	path = __/github.com/batdevis/devbox
	url = https://github.com/batdevis/devbox.git
[submodule "__/github.com/rails/rails-dev-box"]
	path = __/github.com/rails/rails-dev-box
	url = https://github.com/rails/rails-dev-box.git
[submodule "__/github.com/ebratini/rails-devbox"]
	path = __/github.com/ebratini/rails-devbox
	url = https://github.com/ebratini/rails-devbox.git
[submodule "__/github.com/itsthatguy/generator-devbox"]
	path = __/github.com/itsthatguy/generator-devbox
	url = https://github.com/itsthatguy/generator-devbox.git
[submodule "__/github.com/abnercarleto/devbox_rails"]
	path = __/github.com/abnercarleto/devbox_rails
	url = https://github.com/abnercarleto/devbox_rails.git
[submodule "__/github.com/redsparklabs/spinuplabs-vagrant-dev-box"]
	path = __/github.com/redsparklabs/spinuplabs-vagrant-dev-box
	url = https://github.com/redsparklabs/spinuplabs-vagrant-dev-box.git
[submodule "__/github.com/jpettersson/vagrant-rails-project-box"]
	path = __/github.com/jpettersson/vagrant-rails-project-box
	url = https://github.com/jpettersson/vagrant-rails-project-box.git
