[submodule "__/github.com/banyan/chef-rails-dev-box"]
	path = __/github.com/banyan/chef-rails-dev-box
	url = https://github.com/banyan/chef-rails-dev-box.git
[submodule "__/github.com/samuell/devbox-golang"]
	path = __/github.com/samuell/devbox-golang
	url = https://github.com/samuell/devbox-golang.git
[submodule "__/github.com/samuell/devbox-python"]
	path = __/github.com/samuell/devbox-python
	url = https://github.com/samuell/devbox-python.git
[submodule "__/github.com/akalyaev/rails-app-dev-boxes"]
	path = __/github.com/akalyaev/rails-app-dev-boxes
	url = https://github.com/akalyaev/rails-app-dev-boxes.git
[submodule "__/github.com/bobpace/devbox"]
	path = __/github.com/bobpace/devbox
	url = https://github.com/bobpace/devbox.git
[submodule "__/github.com/alabeduarte/vagrant-devbox-nodejs"]
	path = __/github.com/alabeduarte/vagrant-devbox-nodejs
	url = https://github.com/alabeduarte/vagrant-devbox-nodejs.git
[submodule "__/github.com/boycott/devbox"]
	path = __/github.com/boycott/devbox
	url = https://github.com/boycott/devbox.git
[submodule "__/github.com/mtti/devbox-node"]
	path = __/github.com/mtti/devbox-node
	url = https://github.com/mtti/devbox-node.git
[submodule "__/github.com/czerasz/nodejs-devbox"]
	path = __/github.com/czerasz/nodejs-devbox
	url = https://github.com/czerasz/nodejs-devbox.git
[submodule "__/github.com/snooc/packer-node-devbox"]
	path = __/github.com/snooc/packer-node-devbox
	url = https://github.com/snooc/packer-node-devbox.git
[submodule "__/github.com/batdevis/devbox"]
	path = __/github.com/batdevis/devbox
	url = https://github.com/batdevis/devbox.git
[submodule "__/github.com/rails/rails-dev-box"]
	path = __/github.com/rails/rails-dev-box
	url = https://github.com/rails/rails-dev-box.git
[submodule "__/github.com/ebratini/rails-devbox"]
	path = __/github.com/ebratini/rails-devbox
	url = https://github.com/ebratini/rails-devbox.git
[submodule "__/github.com/itsthatguy/generator-devbox"]
	path = __/github.com/itsthatguy/generator-devbox
	url = https://github.com/itsthatguy/generator-devbox.git
[submodule "__/github.com/abnercarleto/devbox_rails"]
	path = __/github.com/abnercarleto/devbox_rails
	url = https://github.com/abnercarleto/devbox_rails.git
[submodule "__/github.com/redsparklabs/spinuplabs-vagrant-dev-box"]
	path = __/github.com/redsparklabs/spinuplabs-vagrant-dev-box
	url = https://github.com/redsparklabs/spinuplabs-vagrant-dev-box.git
[submodule "__/github.com/jpettersson/vagrant-rails-project-box"]
	path = __/github.com/jpettersson/vagrant-rails-project-box
	url = https://github.com/jpettersson/vagrant-rails-project-box.git
[submodule "__/github.com/truepattern/nodejs-dev-vbox"]
	path = __/github.com/truepattern/nodejs-dev-vbox
	url = https://github.com/truepattern/nodejs-dev-vbox.git
[submodule "__/github.com/brpaz/vagrant-node-dev-box"]
	path = __/github.com/brpaz/vagrant-node-dev-box
	url = https://github.com/brpaz/vagrant-node-dev-box.git
[submodule "__/github.com/siyangbi/vagrant-nodejs-dev-box"]
	path = __/github.com/siyangbi/vagrant-nodejs-dev-box
	url = https://github.com/siyangbi/vagrant-nodejs-dev-box.git
[submodule "__/github.com/aterrien/nodejs-devbox"]
	path = __/github.com/aterrien/nodejs-devbox
	url = https://github.com/aterrien/nodejs-devbox.git
[submodule "__/github.com/brandonwamboldt/vagrantfiles"]
	path = __/github.com/brandonwamboldt/vagrantfiles
	url = https://github.com/brandonwamboldt/vagrantfiles.git
[submodule "__/github.com/eugeneware/nodejs-vagrantfile"]
	path = __/github.com/eugeneware/nodejs-vagrantfile
	url = https://github.com/eugeneware/nodejs-vagrantfile.git
[submodule "__/github.com/hajimes/vagrantfile-ubuntu-node-nginx"]
	path = __/github.com/hajimes/vagrantfile-ubuntu-node-nginx
	url = https://github.com/hajimes/vagrantfile-ubuntu-node-nginx.git
[submodule "__/github.com/joaquimserafim/vagrant-nodejs-postgresql"]
	path = __/github.com/joaquimserafim/vagrant-nodejs-postgresql
	url = https://github.com/joaquimserafim/vagrant-nodejs-postgresql.git
[submodule "__/github.com/rafal-kos/vagrant-rails"]
	path = __/github.com/rafal-kos/vagrant-rails
	url = https://github.com/rafal-kos/vagrant-rails.git
[submodule "__/github.com/savayg/vagrant"]
	path = __/github.com/savayg/vagrant
	url = https://github.com/savayg/vagrant.git
[submodule "__/github.com/MaxHorstmann/rails-vagrant"]
	path = __/github.com/MaxHorstmann/rails-vagrant
	url = https://github.com/MaxHorstmann/rails-vagrant.git
[submodule "__/github.com/ttilberg/vagrant-rails-dev"]
	path = __/github.com/ttilberg/vagrant-rails-dev
	url = https://github.com/ttilberg/vagrant-rails-dev.git
[submodule "__/github.com/maxpolun/rails-vagrant-template"]
	path = __/github.com/maxpolun/rails-vagrant-template
	url = https://github.com/maxpolun/rails-vagrant-template.git
[submodule "__/github.com/TalkingQuickly/rails-server-template"]
	path = __/github.com/TalkingQuickly/rails-server-template
	url = https://github.com/TalkingQuickly/rails-server-template.git
[submodule "__/github.com/xforty/vagrant-rails"]
	path = __/github.com/xforty/vagrant-rails
	url = https://github.com/xforty/vagrant-rails.git
[submodule "__/github.com/caspyin/rails-vagrant"]
	path = __/github.com/caspyin/rails-vagrant
	url = https://github.com/caspyin/rails-vagrant.git
[submodule "__/github.com/mcabrams/vagrant-template-rails-1.9.3"]
	path = __/github.com/mcabrams/vagrant-template-rails-1.9.3
	url = https://github.com/mcabrams/vagrant-template-rails-1.9.3.git
[submodule "__/github.com/jpstokes/vagrant-puppet-rails-nginx-postgres"]
	path = __/github.com/jpstokes/vagrant-puppet-rails-nginx-postgres
	url = https://github.com/jpstokes/vagrant-puppet-rails-nginx-postgres.git
[submodule "__/github.com/dstagner/rails-vagrant-toybox"]
	path = __/github.com/dstagner/rails-vagrant-toybox
	url = https://github.com/dstagner/rails-vagrant-toybox.git
[submodule "__/github.com/blindsey/vagrant-postgres-rails"]
	path = __/github.com/blindsey/vagrant-postgres-rails
	url = https://github.com/blindsey/vagrant-postgres-rails.git
[submodule "__/github.com/bltavares/vagrant-baseline"]
	path = __/github.com/bltavares/vagrant-baseline
	url = https://github.com/bltavares/vagrant-baseline.git
[submodule "__/github.com/nisaacson/docker-nodejs"]
	path = __/github.com/nisaacson/docker-nodejs
	url = https://github.com/nisaacson/docker-nodejs.git
[submodule "__/gist.github.com/2cc0195b25c07358c15a"]
	path = __/gist.github.com/2cc0195b25c07358c15a
	url = https://gist.github.com/2cc0195b25c07358c15a.git
[submodule "__/github.com/semmypurewal/node-dev-bootstrap"]
	path = __/github.com/semmypurewal/node-dev-bootstrap
	url = https://github.com/semmypurewal/node-dev-bootstrap.git
[submodule "__/github.com/theasta/vagrant-nodejs-dev"]
	path = __/github.com/theasta/vagrant-nodejs-dev
	url = https://github.com/theasta/vagrant-nodejs-dev.git
[submodule "__/github.com/miccheng/vagrant-nodejs"]
	path = __/github.com/miccheng/vagrant-nodejs
	url = https://github.com/miccheng/vagrant-nodejs.git
[submodule "__/github.com/devert/vagrant-nodejs-app-starter"]
	path = __/github.com/devert/vagrant-nodejs-app-starter
	url = https://github.com/devert/vagrant-nodejs-app-starter.git
[submodule "__/github.com/cbumgard/nodejs-vagrant"]
	path = __/github.com/cbumgard/nodejs-vagrant
	url = https://github.com/cbumgard/nodejs-vagrant.git
[submodule "__/github.com/cbetta/rails-vagrant-setup"]
	path = __/github.com/cbetta/rails-vagrant-setup
	url = https://github.com/cbetta/rails-vagrant-setup.git
[submodule "__/github.com/a2labs/vagrant-rails"]
	path = __/github.com/a2labs/vagrant-rails
	url = https://github.com/a2labs/vagrant-rails.git
[submodule "__/gist.github.com/10785de9cc856009f6ea"]
	path = __/gist.github.com/10785de9cc856009f6ea
	url = https://gist.github.com/10785de9cc856009f6ea.git
[submodule "__/github.com/TalkingQuickly/docker_rails_dev_env"]
	path = __/github.com/TalkingQuickly/docker_rails_dev_env
	url = https://github.com/TalkingQuickly/docker_rails_dev_env.git
[submodule "__/github.com/dannyvassallo/rails-middleman-vagrant"]
	path = __/github.com/dannyvassallo/rails-middleman-vagrant
	url = https://github.com/dannyvassallo/rails-middleman-vagrant.git
